﻿<%@ Page Language="C#" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>webform</title>
	<script runat="server">
	
	</script>
</head>
<body>
	<form id="form1" runat="server">
	    <h1>Hello World</h1>
	</form>
</body>
</html>
