﻿<%@ Page Language="C#" Inherits="csProj.webform" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>webform</title>
	<script runat="server">
	
	</script>
</head>
<body>
	<form id="form1" runat="server">
	
	</form>
</body>
</html>
